{% extends "base.html" %}

{% block content %}
  <h1>
    {{ car.model }}
    <a href="{% url 'todo:task-delete' pk=task.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'todo:task-update' pk=task.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <p>Tag: ({{ task.tags.name }})</p>
  <p>Content: {{ task.content }}</p>
  <p>Task status: {{ task.task_status }}</p>
  <p>Created: {{ task.create_date }}</p>
  
{% endblock %}